<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.knaas.thetravelmate">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="com.androidtutorialpoint.mymapsappsdirection.permission.MAPS_RECEIVE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TheTravelMate">
        <activity android:name=".DisplayUsers"></activity>
        <activity android:name=".Activity.Dashboard" />
        <activity android:name=".PlaceDetails.Kerala" />
        <activity android:name=".PlaceDetails.Mysore" />
        <activity android:name=".PlaceDetails.Kolkata" />
        <activity android:name=".PlaceDetails.Darjeeling" />
        <activity android:name=".Activity.MainActivity" />
        <activity android:name=".PlaceDetails.Amritsar" />
        <activity android:name=".PlaceDetails.Varanasi" />
        <activity android:name=".PlaceDetails.Rajasthan" />
        <activity android:name=".PlaceDetails.Mumbai" />
        <activity android:name=".PlaceDetails.NewDelhi" />
        <activity android:name=".PlaceDetails.Agra" />
        <activity android:name=".PlaceDetails.Ladakh" />
        <activity android:name=".PlaceDetails.Goa" />
        <activity android:name=".PlaceDetails.AndamanNikobar" />
        <activity android:name=".PlaceDetails.Rishikesh" />
        <activity android:name=".PlaceDetails.Udaipur" />
        <activity android:name=".SearchPlaces" />
        <activity android:name=".Activity.EditProfile" />
        <activity android:name=".Activity.SearchActivity" />
        <activity android:name=".Activity.ProfileActivity" />
        <activity android:name=".Activity.ChatActivity" />
        <activity android:name=".Activity.FrontActivity" />
        <activity android:name=".Activity.ForgetPassword" />
        <activity android:name=".PlaceDetails.DetailsActivity" />
        <activity android:name=".Activity.RegisterActivity" />
        <activity android:name=".Activity.LoginActivity" />
        <activity android:name=".Activity.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <meta-data
            android:name="com.google.android.gms.18.0.0"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/google_map_key" />
    </application>

</manifest>